@charset "UTF-8";





blockquote.epigraph {
    margin: 2em 5em;
}

dl.docutils dd {
    margin-bottom: 0.5em;
}

dl.docutils dt {
    font-weight: bold;
}

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning, div.sidebar {
    border: 0.2em solid;
    margin: 1em;
    padding: 0.1em 0.3em;
}

p.admonition-title {
    font-family: "Verdana", "Arial", sans-serif;
    font-weight: bold;
}

div.hint, div.note, div.tip, div.important, div.sidebar, div.attention,
div.caution, div.danger, div.error, div.warning {
    color: rgb(0, 0, 0);
}
div.hint, div.note, div.tip {
    background-color: rgb(187, 255, 187);
}

div.important, div.sidebar {
    background-color: rgb(255, 255, 187);
}

div.attention, div.caution, div.danger, div.error, div.warning {
    background-color: rgb(255, 187, 187);
}

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
    background-color: inherit;
    color: rgb(255, 0, 0);
}

th.field-name {
    background-color: rgb(255, 255, 187);
}

div.figure {
    background-color: rgb(241, 241, 241);
    color: inherit;
    float: right;
    padding: 1em;
}

div.sidebar {
    clear: right;
    float: right;
    width: 20em;
}

ol.simple, ul.simple {
    margin-bottom: 1em;
}
ol.arabic {
    list-style: decimal;
}
ol.loweralpha {
    list-style: lower-alpha;
}
ol.upperalpha {
    list-style: upper-alpha;
}
ol.lowerroman {
    list-style: lower-roman;
}
ol.upperroman {
    list-style: upper-roman;
}

p.attribution {
    margin-left: 25em;
    text-align: right;
}

p.rubric {
    background-color: inherit;
    color: rgb(128, 0, 0);
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

p.sidebar-title {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: larger;
    font-weight: bold;
}

p.sidebar-subtitle {
    font-family: "Verdana", "Arial", sans-serif;
    font-weight: bold;
}

pre.literal-block, div.highlight {
    background-color: rgb(238, 238, 238);
    border: dashed 0.1em rgb(139, 139, 139);
    color: rgb(0, 0, 0);
    margin: 0 1em;
    padding: 0 0.5em;
    overflow: auto;
}

span.pre {
    white-space: pre;
}

acro:hover, abbr:hover {
    cursor: help;
}

ins {
    background-color: rgb(187, 255, 187);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

del {
    background-color: rgb(255, 187, 187);
    color: rgb(0, 0, 0);
}

q {
    quotes: '\201C' '\201D' '\2018' '\2019';
}
q:before {
    content: "\201C";
}
q:after {
    content: "\201D";
}